@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Neuton:wght@300&display=swap');

:root {
  --primaryColor: black ;
  --navColor1: #696969;
  --navColor2: #808080;
  --navColor3: #A9A9A9;
  --navColor4: #C0C0C0;
  --navColor5: #DCDCDC;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Nunito, sans-serif;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 32px;
  height: 3px;
  background-color: rgb(39, 35, 35);
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center center;
}

h1 {
    font-family: 'Neucha', cursive;
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 0;
    margin-left: 0%;
    
  }

  #home .title-group h1 span {
    color: var(--navColor1); }

  p {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }
  
  h2 {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    font-weight: 450;
    margin-bottom: 0%;
    text-align: center;
    color: var(--on-background-alt);
  }
  a {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    font-weight: 500;
  }
  h3 {
    font-family: 'Neuton', serif;
    font-size: 12px;
    margin-top: auto;
    margin-block: auto;
  }

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#about {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.25'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
  
}

.text-box {
  width: 80%;
  text-align: center;
  text-shadow: gainsboro; 
  font-family: 'Neucha', cursive;
  font-size: 30px; 
  background: rgb(0 0 0 / 6.5%);
  color: var(--on-primary);
  border-radius: 10px;
  border
  padding: 30px;
}

img {
  height: 300px;
  width: 400px;
  border-block-color: var(--navColor3);
}


#f1_container {
  position: relative;
  padding: 40px 20px;
  box-shadow: var(--navColor4);
  margin: 10px auto;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(255, 253, 253);
}

section#skills {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center center;
  text-orientation: upright;
}

section#projects {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.25'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
}

#projects {
  padding: 2rem 1rem; }
  
  #projects {
    display: flex;
    
    align-items: center;
    flex-direction: column; }
    #projects .card {
      width: 100%;
      padding: 1rem;
      margin: 0 auto;
      margin-bottom: 1rem; }
      #projects .card h3 {
        text-align: center;
        margin-bottom: 1rem; }
      #projects .card .image {
        height: 167px;
        width: 300px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;
        border-radius: 5px; }
      #projects .card .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem; }
        #projects .card .buttons a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          width: 75px;
          text-decoration: none;
          border-radius: 5px; }
        #projects .card .buttons .github {
          margin-right: 20px;
          background: white;
          border: solid 2px var(--navColor2);
          color: var(--navColor2); }
        #projects .card .buttons .live {
          background: var(--navColor2);
          color: white; }
    #projects .stack ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
      list-style: none; }
      #projects .stack ul li {
        color: black;
        font-style: italic;
        font-weight: 530;
        }
        #projects .stack ul li:not(:last-child) {
          margin-right: 10px; }

          @media (min-width: 1020px) {
            #projects {
              flex-direction: row;
              flex-wrap: wrap; }
              #projects .card {
                width: 45%; } }
          
          @media (min-width: 1440px) {
            #projects .card {
              width: 23%; }
              #projects .card .stack ul {
                width: 75%;
                margin: 0 auto;
                flex-wrap: wrap; } }

section#contact {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center center;
}

.fa{
  font-size: 30px;
  scroll-margin-bottom: 0%;
  margin-left: 50%;
  margin-bottom: 10%;
  margin-top: 10%;
  align-self: center;
}

.fab {
  font-size: 50px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

#projects .card .buttons .github:hover {
  filter: brightness(125%);
   }
#projects .card .buttons .live:hover {
  filter: brightness(125%);
   }

.fab:hover {
  color: var(--navColor3);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 1800px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}
